html, body {
  background-color: black;
}

.AppContainer {
  background-color: black;
}

.is-desktop .Pane-header, .is-desktop .popup-message-banner {
  background-color: black;
  color: white;
}

.is-desktop .AppHeader {

  background-color: black;
}

.AppHeader {
  background-color: #450000;
}

.AppHeader-syncStatus {
  top:3.5px;

}

.is-desktop .LeftPaneContainer-nav {
  background-color: black;
}

.DocumentTools-overlay {
  background-color: black;
  box-shadow: none;
}

.is-mobile .AppHeader {
  margin: 5px;
  border-radius: 5px;
  color: white;
}

.MobileHeader-mainMenuIcon, .MobileHeader-backIcon, .MobileHeader-option, .MobileHeader-title {
  color: white;
}

.MobileHeader-moreOptions {
  background-color: #450000;
  border-radius: 5px;
}

/* Mobile Toolbar vergrößern ------------------------------------------------------------------- */
.node-toolbar-options-container {
  height: 100px;
  background-color: black;
  border-top: 1px solid #181818;
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 25px 15px;
}

.node-toolbar {
  height: 70px;
  border:0px;
}

.node-toolbar-option {

  line-height: 70px;
  padding: 0 1rem;
}